.comment-card {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows:  32px 1fr;
  column-gap: 24px;
  row-gap: 16px;
  place-items: center start;
  padding: 24px;
  border-radius: 10px;
}

.likes {
  grid-row: 1 / 3;
  place-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 8px;
  background-color: var(--very-light-gray);
  border-radius: 10px;
}

.like-plus, 
.like-minus {
  border: none;
  padding: 8px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  color: var(--light-grayish-blue);
  background-color: inherit;
  cursor: pointer;
}

.like-plus:hover,
.like-minus:hover {
  color: var(--moderate-blue);
}

.like-count {
  font: var(--f-body-bold);
  color: var(--moderate-blue);
}

.commenter-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.commenter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 2rem;
}

.avatar-name {
  font: var(--f-heading-m);
  color: var(--dark-blue);
}

.you {
  color: var(--white);
  background-color: var(--moderate-blue);
  font-size: 0.8125rem;
  display: inline-block;
  padding: 3px 5px;
  margin-left: 6px;
  border-radius: 3px;
}

.posted-date {
  font: var(--f-body);
  color: var(--grayish-blue)
}

.btn-cluster {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.reply-btn,
.delete-btn,
.edit-btn {
  font: var(--f-body-bold);
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.reply-btn:hover,
.delete-btn:hover,
.edit-btn:hover {
  opacity: 50%;
}

.reply-btn:active,
.delete-btn:active,
.edit-btn:active {
  opacity: 100%;
}

.reply-btn svg,
.delete-btn svg,
.edit-btn svg {
  margin-right: 8px;
}

.reply-btn,
.edit-btn {
  color: var(--moderate-blue);
}

.delete-btn {
  color: var(--soft-red);
}

.comment {
  font: var(--f-body);
  color: var(--grayish-blue);
}

.mention {
  font: var(--f-body-bold);
  color: var(--moderate-blue); 
}